@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.banner {
  background: rgb(5, 5, 5);
  background: linear-gradient(
    0deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(5, 5, 5, 0.64) 48%,
    rgba(5, 5, 5, 1) 100%
  );
}

section {
  @apply lg:px-24 md:px-16 px-5;
}

.navbar_sm {
  @apply lg:hidden w-full rounded-3xl bg-[#19191A] absolute top-24 left-0 -z-50 translate-y-0 transition-transform duration-300 ease-linear;
}

.navbar_lg {
  @apply lg:hidden w-full absolute rounded-3xl bg-[#19191A] -z-50 left-0 -translate-y-[80vh] transition-transform duration-300 ease-linear;
}

.back {
  background: rgb(40, 40, 42);
  background: radial-gradient(
    circle,
    rgba(40, 40, 42, 1) 50%,
    rgba(11, 13, 12, 1) 100%
  );
}
